@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i&display=swap");
body {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999
}
* {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}
@keyframes spin {0% {transform: translate(-50%,-50%)rotate(0deg);}100% {transform: translate(-50%,-50%)rotate(360deg);}}
@keyframes starsOpacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}